.header {
    background: #131313;

    .navbar {
        margin: 0 auto;
        @include adaptive-value(padding-left, 200, 20, 0);
        @include adaptive-value(padding-right, 200, 20, 0);

        &-nav {
            &:nth-child(1) {
                width: 75%;
                justify-content: flex-start;
            }

            &:nth-child(2) {
                width: 25%;
                justify-content: flex-end;
            }
        }

        &-brand {
            width: 50px;
            height: 50px;
            filter: invert(1);
            padding: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-toggler {
            &.collapsed {
                .burger__line {
                    background: #fff;

                    &::before {
                        top: 8px;
                        transform: rotate(0);
                    }

                    &::after {
                        bottom: 8px;
                        transform: rotate(0);
                    }
                }
            }

            .burger {
                height: 26px;
                width: 26px;

                &__line {
                    position: relative;
                    width: 30px;
                    height: 2px;
                    background: none;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: #fff;
                        transform: rotate(135deg);
                        transition: .25s;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        bottom: 0;
                        left: 0;
                        background: #fff;
                        transform: rotate(45deg);
                        transition: .25s;
                    }
                }
            }

        }
    }

    .nav-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .nav-link {
        position: relative;
        color: #fff;
        width: 100%;

        &:hover::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        &.active::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        &::before {
            content: attr(data-content);
            position: absolute;
            color: $red;
            background: #131313;
            padding-bottom: 5px;
            border-bottom: 3px solid $red;
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            transition: clip-path .5s ease-in;
        }
    }
}