.portfolio {
    padding-top: 90px;
    padding-bottom: 100px;
    @include title;

    .wrapper {
        border-radius: 20px;
        overflow: hidden;
        max-width: 1140px;
        margin: 0 auto;
        box-shadow: 0 0 25px 0 rgba(194, 54, 22, .5);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}