.skills {
    padding-top: 90px;
    @include adaptive-value(padding-right, 200, 20, 0);
    @include adaptive-value(padding-left, 200, 20, 0);

    .row {
        .col {
            padding: 7.5px 7.5px;

            &:nth-of-type(1) .wrapper {
                background-color: #821c1c;

                &:hover {
                    box-shadow: 0 0 25px 5px #821c1c;
                }
            }

            &:nth-of-type(2) .wrapper {
                background-color: #2b3580;

                &:hover {
                    box-shadow: 0 0 25px 5px #2b3580;
                }
            }

            &:nth-of-type(3) .wrapper {
                background-color: #bbb60a;

                &:hover {
                    box-shadow: 0 0 25px 0 #bbb60a;
                }
            }

            &:nth-of-type(4) .wrapper {
                background-color: #5588ad;

                &:hover {
                    box-shadow: 0 0 25px 5px #5588ad;
                }
            }

            &:nth-of-type(5) .wrapper {
                background-color: #216c81;

                &:hover {
                    box-shadow: 0 0 25px 5px #216c81;
                }
            }

            &:nth-of-type(6) .wrapper {
                background-color: #3a1e5c;

                &:hover {
                    box-shadow: 0 0 25px 5px #3a1e5c;
                }
            }

            .wrapper {
                padding: 29px 30px 24px;
                border-radius: 10px;
                text-align: left;
                height: 100%;
                transition: all .3s linear;

                .img {
                    width: 60px;
                }

                .descr {
                    margin-top: 15px;
                    font-size: 14px;
                    color: #fff;
                }
            }
        }
    }

    &__title {
        font-size: 18px;
        margin-top: 20px;
        font-weight: bold;
    }
}