$red: #c23616;
$red: rgb(194, 54, 22);

@mixin btn($wd, $hg, $bg) {
    display: block;
    width: $wd;
    height: $hg;
    line-height: $hg;
    background: $bg;
    color: #fff;
    border: none;
    padding: 0;
    text-align: center;
    margin: 0;

    &:focus {
        outline: none;
    }
}

@mixin title {
    text-align: center;
    color: #fff;

    .title {
        position: relative;
        font-size: 1rem;

        &::before {
            content: '';
            position: absolute;
            width: 36px;
            height: 36px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: $red;
            border-radius: 50%;
            z-index: -1;
        }
    }

    .subtitle {
        position: relative;
        margin-top: 20px;
        font-size: 36px;
        margin-bottom: 50px;
        padding-bottom: 40px;

        &::before {
            content: '';
            position: absolute;
            width: 60px;
            height: 3px;
            background: $red;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
        }
    }
}