@import url(../libs/fontawesome/css/all.min.css);
@import url(../libs/mdb-ui-kit/css/mdb.min.css);

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Roboto"),
        url(../fonts/Roboto/Roboto-Regular.woff2) format("woff2"),
        url(../fonts/Roboto/Roboto-Regular.woff) format("woff")
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local("Roboto"),
        url(../fonts/Roboto/Roboto-Bold.woff2) format("woff2"),
        url(../fonts/Roboto/Roboto-Bold.woff) format("woff")
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    background: #181818;
}

@import "../scss/variables";
@import "../scss/adaptive-value";
@import "../scss/header";
@import "../scss/promo";
@import "../scss/about-me";
@import "../scss/skills";
@import "../scss/portfolio";
@import "../scss/media";