@import url(../libs/fontawesome/css/all.min.css);
@import url(../libs/mdb-ui-kit/css/mdb.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background: #131313;
}

@import "../scss/variables";
@import "../scss/adaptive-value";
@import "../scss/header";
@import "../scss/promo";
@import "../scss/about-me";
@import "../scss/portfolio";
@import "../scss/media";