@import url(../libs/fontawesome/css/all.min.css);
@import url(../libs/mdb-ui-kit/css/mdb.min.css);
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Roboto"), url(../fonts/Roboto/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("Roboto"), url(../fonts/Roboto/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Bold.woff) format("woff");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #fff;
}

body {
  background: #181818;
}

.title {
  text-align: center;
  position: relative;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
}

.title::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #c23616;
  border-radius: 50%;
  z-index: -1;
}

.subtitle {
  text-align: center;
  position: relative;
  margin-top: 20px;
  font-size: calc(30px + 6 * ((100vw - 320px) / 1600));
  margin-bottom: 50px;
  padding-bottom: 40px;
}

.subtitle::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  background: #c23616;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.header {
  background: #131313;
}

.header .navbar {
  margin: 0 auto;
  padding-left: calc(20px + 180 * ((100vw - 320px) / 1600));
  padding-right: calc(20px + 180 * ((100vw - 320px) / 1600));
}

.header .navbar-nav:nth-child(1) {
  width: 75%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .navbar-nav:nth-child(2) {
  width: 25%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .navbar-brand {
  width: 50px;
  height: 50px;
  -webkit-filter: invert(1);
          filter: invert(1);
  padding: 0;
}

.header .navbar-brand img {
  width: 100%;
  height: 100%;
}

.header .navbar-toggler.collapsed .burger__line {
  background: #fff;
}

.header .navbar-toggler.collapsed .burger__line::before {
  top: 8px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.header .navbar-toggler.collapsed .burger__line::after {
  bottom: 8px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.header .navbar-toggler .burger {
  height: 26px;
  width: 26px;
}

.header .navbar-toggler .burger__line {
  position: relative;
  width: 30px;
  height: 2px;
  background: none;
}

.header .navbar-toggler .burger__line::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.header .navbar-toggler .burger__line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.header .nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.header .nav-link {
  position: relative;
  color: #fff;
  width: 100%;
}

.header .nav-link:hover::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header .nav-link.active::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header .nav-link::before {
  content: attr(data-content);
  position: absolute;
  color: #c23616;
  background: #131313;
  padding-bottom: 5px;
  border-bottom: 3px solid #c23616;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  -webkit-transition: -webkit-clip-path .5s ease-in;
  transition: -webkit-clip-path .5s ease-in;
  -o-transition: clip-path .5s ease-in;
  transition: clip-path .5s ease-in;
  transition: clip-path .5s ease-in, -webkit-clip-path .5s ease-in;
}

.promo {
  padding-top: 280px;
  padding-right: calc(20px + 180 * ((100vw - 320px) / 1600));
  padding-left: calc(20px + 180 * ((100vw - 320px) / 1600));
  min-height: 100vh;
}

.promo__subtitle {
  position: relative;
  padding-left: 11px;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
}

.promo__subtitle::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  background: #c23616;
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.promo__title {
  font-size: calc(30px + 18 * ((100vw - 320px) / 1600));
  text-align: left;
  margin: 0;
  font-weight: bold;
}

.promo .vanta-canvas {
  max-height: 100vh;
  max-width: 100vw;
}

.promo .btn {
  width: 120px;
  color: #fff;
}

.promo .btn__portfolio {
  background: #c23616;
}

.about-me {
  padding-top: 90px;
  padding-right: calc(20px + 180 * ((100vw - 320px) / 1600));
  padding-left: calc(20px + 180 * ((100vw - 320px) / 1600));
}

.skills {
  padding-top: 90px;
  padding-right: calc(20px + 180 * ((100vw - 320px) / 1600));
  padding-left: calc(20px + 180 * ((100vw - 320px) / 1600));
}

.skills .row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.skills .row .col {
  padding: 7.5px 7.5px;
}

.skills .row .col:nth-of-type(1) .wrapper {
  background-color: #821c1c;
}

.skills .row .col:nth-of-type(1) .wrapper:hover {
  -webkit-box-shadow: 0 0 25px 5px #821c1c;
          box-shadow: 0 0 25px 5px #821c1c;
}

.skills .row .col:nth-of-type(2) .wrapper {
  background-color: #2b3580;
}

.skills .row .col:nth-of-type(2) .wrapper:hover {
  -webkit-box-shadow: 0 0 25px 5px #2b3580;
          box-shadow: 0 0 25px 5px #2b3580;
}

.skills .row .col:nth-of-type(3) .wrapper {
  background-color: #bbb60a;
}

.skills .row .col:nth-of-type(3) .wrapper:hover {
  -webkit-box-shadow: 0 0 25px 0 #bbb60a;
          box-shadow: 0 0 25px 0 #bbb60a;
}

.skills .row .col:nth-of-type(4) .wrapper {
  background-color: #5588ad;
}

.skills .row .col:nth-of-type(4) .wrapper:hover {
  -webkit-box-shadow: 0 0 25px 5px #5588ad;
          box-shadow: 0 0 25px 5px #5588ad;
}

.skills .row .col:nth-of-type(5) .wrapper {
  background-color: #216c81;
}

.skills .row .col:nth-of-type(5) .wrapper:hover {
  -webkit-box-shadow: 0 0 25px 5px #216c81;
          box-shadow: 0 0 25px 5px #216c81;
}

.skills .row .col:nth-of-type(6) .wrapper {
  background-color: #3a1e5c;
}

.skills .row .col:nth-of-type(6) .wrapper:hover {
  -webkit-box-shadow: 0 0 25px 5px #3a1e5c;
          box-shadow: 0 0 25px 5px #3a1e5c;
}

.skills .row .col .wrapper {
  padding: 29px 30px 24px;
  border-radius: 10px;
  height: 100%;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.skills .row .col .wrapper .img {
  width: 60px;
}

.skills .row .col .wrapper .descr {
  margin-top: 15px;
  font-size: 14px;
}

.skills__title {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}

.portfolio {
  padding-top: 90px;
  padding-right: calc(20px + 180 * ((100vw - 320px) / 1600));
  padding-left: calc(20px + 180 * ((100vw - 320px) / 1600));
  margin-bottom: 50px;
}

.portfolio .wrapper {
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 25px 0 #c2361680;
          box-shadow: 0 0 25px 0 #c2361680;
}

.portfolio img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .header .navbar-nav:nth-child(1) {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .header .navbar-nav:nth-child(2) {
    margin-top: 15px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 30px;
  }
  .header .nav-item {
    margin-top: 15px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */